/test.s
*.boot
*.o
*.sys
*.com
*.bin
*.app
*.img
*.a
*.deb
*.rpm
*.kext
*.zip
/devkit/bin32
/devkit/bin64
/devkit/binarm64
/devkit/binwin32
/devkit/binwin64
/devkit/i86-*
/devkit/picofs
/devkit-deb/*
/devkit-deb/**/*